.navbar{
    margin-bottom: 0px;
}


h1 {
    font-size: 0 !important;
    padding: 0px !important;
    height: 0px !important;
    line-height: 0px !important;
}

h3,
h2{
    color: #FF9800;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

nav input::placeholder {
    color: white !important;
    opacity: 1;
}

span{
    font-weight: bold;
}

#registro {
    display: block;
    color: #495057;
}

label {
    display: none;
}

.form-control,
.is-focused .form-control {
    background-image: linear-gradient(to top, #FF9800 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px) !important;
}

.form-check-label {
    display: inline-block;
}

.form-check .form-check-label .circle .check,
.togglebutton label input[type="checkbox"]:checked + .toggle{
    background-color: #FF9800;
}

.togglebutton label{
    color: white;
}

select,
select option {
    color: grey !important;
}

.PaisDeOrigen{
    display: block;
}

.badge {
    padding: 2px 4px;
}

footer, .footer-big h4{
    color: white;
}

.footer-big .social-feed i {
    font-size: 20px;
    display: table-cell;
    padding-right: 10px;
    width: 40px;
}

.footer-big .social-feed p {
    display: table-cell;
    vertical-align: top;
    overflow: hidden;
    padding-bottom: 10px;
    max-width: 500px;
}


.footer-big .social-feed p a{
    text-decoration: none;
    color: #999;
}

.copyright{
    color: dimgrey;
}